<main class="container container-event">
    {{#with event}}
    <div class="cover">
        <img src="{{ imgPath }}" alt="Cover {{ title }}">

        <div class="content">
            <h1 class="capitalised">{{ title }}</h1>
            <p>From {{ startDate }} at {{ startTime }} to {{ endDate }} at {{ endTime }}</p>
        </div>
    </div>

    <div class="title-container">
        <h6>Organised by <a href="/profile/{{ organiser._id }}" class="capitalised">{{ organiser.fullName }}</a></h6>

        {{#if ../canEdit}}
        <a href="/events/{{_id}}/edit" class="btn btn-primary">Edit event</a>
        {{/if}}
    </div>

    <div class="item">
        <h4>Location</h4>
        <p class="capitalised">{{ location }}</p>
    </div>

    <div class="item">
        <h4>About</h4>
        <p class="desc-paragraph">{{ description }}</p>
        <button class="btn btn-tertiary btn-expand">Read more</button>
    </div>

    {{#if invitedPeople.length}}
    <div class="item">
        <h4>Participants</h4>

        <ul class="list-users-small">
            {{#each invitedPeople }}
            <li>
                <a href="/profile/{{_id}}">
                    <img src="{{ imgPath }}" alt="Picture {{ fullName }}">

                    <p class="capitalised">{{ fullName }}</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    {{/with}}
</main>
