<main class="container container-event">
    {{#with event}}
    <div class="cover">
        <img src="{{ imgPath }}" alt="Cover {{ title }}">

        <div class="content">
            <h1 class="capitalised">{{ title }}</h1>
            <p>From {{ startDate }} at {{ startTime }} to {{ endDate }} at {{ endTime }}</p>
        </div>
    </div>

    <div class="title-container">
        <h6>Organised by <a href="/profile/{{ organiser._id }}" class="capitalised">{{ organiser.fullName }}</a></h6>

        {{#if ../canEdit}}
        <a href="/events/{{_id}}/edit" class="btn btn-primary">Edit event</a>
        {{/if}}
    </div>

    <div class="item">
        <h4>Location</h4>
        <p class="capitalised">{{ location }}</p>
    </div>

    <div class="item">
        <h4>About</h4>
        <p class="desc-paragraph formatted-paragraph">{{ description }}</p>
        <button class="btn btn-tertiary btn-expand">Read more</button>
    </div>

    {{#if invitedPeople.length}}
    <div class="item">
        <h4>Participants</h4>

        <ul class="list-users-small">
            {{#each invitedPeople }}
            <li>
                <a href="/profile/{{_id}}">
                    <img src="{{ imgPath }}" alt="Picture {{ fullName }}">

                    <p class="capitalised">{{ fullName }}</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}

    <div class="item">
        <h4>Wall</h4>

        <form action="/events/{{_id}}/post" method="POST" class="form">
            <input type="hidden" name="poster" id="poster" value="{{organiser._id}}">
            <input type="hidden" name="event" id="event" value="{{_id}}">
            <input type="hidden" name="datePost" id="datePost" placeholder="Date">
            <input type="hidden" name="timePost" id="timePost" placeholder="Time">

            <div class="item">
                <label for="message">Post a message</label>
                <textarea name="message" id="message"></textarea>
            </div>

            <div class="buttons-container">
                <button type="submit" class="btn btn-primary submit" disabled>Post a message</button>
            </div>
        </form>
        {{/with}}
    </div>

    {{#if post}}
    <ul class="list-posts item">
        {{#each post}}
        <li>
            <div class="poster">
                <img src="{{ this.poster.imgPath }}" alt="Avatar {{ this.poster.fullName }}">

                <span class="name-container">
                    <a href="/profile/{{ this.poster._id }}">{{this.poster.fullName}}</a>
                    <em>Posted on {{ this.datePost }} at {{ this.timePost }}</em>
                </span>
            </div>

            <p class="formatted-paragraph">{{ this.message }}</p>

            {{#if isPoster}}
            <form action="/{{../event._id}}/{{this._id}}/{{this.poster._id}}/delete" method="POST">
                <button type="submit">delete</button>
            </form>
            {{/if}}
        </li>

        {{/each}}
    </ul>
    {{/if}}
</main>
