<main class="container container-profile">
    {{#with userPublic}}
    <div class="user-card">
        <img src="{{imgPath}}" alt="Picture {{fullName}}" />

        <div class="content">
            <h1 class="capitalised">{{fullName}}</h1>

            <p>{{ bio }}</p>

            <p><em>Lives in <span class="capitalised">{{ city }}</span></em></p>
        </div>
    </div>
    {{/with}}

    <div class="profile-event-container">
        <h4>Events they organise</h4>

        {{#if event.length }}
        <ul class="list-events">
            {{#each event}}
            <li>
                <a href="/events/{{id}}">
                    <img src="{{ imgPath }}" alt="Cover {{ title }}">
                
                    <div class="content">
                        <h5 class="capitalised">{{ title }}</h5>
                        <p><span class="capitalised">{{ location }}</span></p>
                        <p>{{ startDate }} at {{ startTime }}</p>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>

        {{else}}
        <p>No event yet</p>
        {{/if}}
    </div>

    <div class="profile-event-container">
        <h4>Events they are invited to</h4>

        {{#if event.length }}
        <ul class="list-events">
            {{#each events}}
            <li>
                <a href="/events/{{id}}">
                    <img src="{{ imgPath }}" alt="Cover {{ title }}">
                
                    <div class="content">
                        <h5 class="capitalised">{{ title }}</h5>
                        <p><span class="capitalised">{{ location }}</span></p>
                        <p>{{ startDate }} at {{ startTime }}</p>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>

        {{else}}
        <p>No event yet</p>
        {{/if}}
    </div>
</main>
