<main class="container container-form">
    <form action="/profile/edit/{{ userInfo._id }}" method="POST" enctype="multipart/form-data">
        <div class="edit-title-container">
            <div class="edit-picture-container">
                <label for="avatar" class="label-avatar-picture">
                    <img src="{{ userInfo.imgPath }}" alt="Picture {{ userInfo.fullName }}">

                    <div class="icon-container">
                        <svg>
                            <use xlink:href="/images/icon-sprite.svg#edit"></use>
                        </svg>
                    </div>
                </label>

                <input type="file" name="avatar" id="avatar" value="{{ userInfo.imgPath }}">
            </div>
            <h1>Edit <span class="capitalised">{{ userInfo.fullName }}</span></h1>
        </div>

        {{#if message}}
        <p class="error-text">{{ message }}</p>
        {{/if}}

        <div class="item">
            <label for="fullName">Full name</label>
            <input type="text" name="fullName" id="fullName" value="{{ userInfo.fullName }}">
        </div>

        <div class="item">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="{{ userInfo.email }}" disabled>
        </div>

        <div class="item">
            <label for="city">City</label>
            <input type="text" name="city" id="city" value="{{ userInfo.city }}">
        </div>

        <div class="item">
            <label for="bio">Bio</label>
            <textarea name="bio" id="bio" maxlength="140" class="bio-area">{{ userInfo.bio }}</textarea>
            <span id="helper-bio"></span>
        </div>

        <div class="item">
            <label for="password">Password</label>

            <span class="input-container">
                <input type="password" name="password" id="password" value="password">
                <button type="button" aria-label="Reveal password" class="reveal" tabindex="0">
                    <svg class="icon-reveal">
                        <use xlink:href="/images/icon-sprite.svg#show-slash"></use>
                    </svg>
                </button>
            </span>

            <span class="password-hint"></span>
        </div>

        <div class="buttons-container">
            <button type="submit" class="btn btn-primary">Update your account</button>
            <a href="/login" class="btn btn-secondary">Cancel</a>
        </div>
    </form>

    <div class="modal-container">
        <button class="btn btn-danger" id="btnModal">Delete your account</button>

        <form action="/profile/{{userInfo._id}}/delete" method="POST" class="error" id="modal-delete">
            <p>{{ messageDelete }}</p>

            <div class="buttons-container">
                <button type="submit" class="btn btn-danger">Confirm</button>
                <button type="button" id="cancelDelete" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    </div>
</main>
