<main class="container container-profile">
    <div class="user-card">
        <img src="{{user.imgPath}}" alt="Picture {{user.fullName}}" />

        <div class="content">
            <h1>Welcome {{user.fullName}}</h1>
            <p>Bio</p>
            <p><em>Lives in {{ user.city }}</em></p>

            {{!-- Link to edit account --}}

            {{!-- <div class="buttons-container">
                <a href="/logout" class="btn btn-secondary">Log out</a>
                <button class="btn btn-secondary" id="btnModal">Delete your account</button>

                <form action="/profile/{{user._id}}/delete" method="POST" class="modal hidden" id="modal-delete">
                    <button type="submit">Confirm</button>
                </form>
            </div> --}}
        </div>
    </div>

    <div class="title-container">
        <h2>Events</h2>

        <a href="/events/new-event" class="btn btn-primary">Add a new event</a>
    </div>

    <div class="profile-event-container">
        <h4>Events you organise</h4>

        {{! Organised events }}

        <ul class="list-events">
            {{#each event}}
            <li>
                <a href="/events/{{id}}">
                    <img src="{{ imgPath }}" alt="Cover {{ title }}">

                    <div class="content">
                        <h5>{{ title }}</h5>
                        <h6>{{ location }}</h6>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="profile-event-container">
        <h4>Events you are interested into</h4>
        {{! Events interest }}
    </div>
</main>
