<main class="container container-profile">
    <div class="user-card">
        <img src="{{user.imgPath}}" alt="Picture {{user.fullName}}" />

        <div class="content">
            <h1 class="capitalised">Welcome {{user.fullName}}</h1>

            <p>{{ user.bio }}</p>

            <p><em>Lives in <span class="capitalised">{{ user.city }}</span></em></p>
        </div>
    </div>

    <div class="title-container">
        <h2>Events</h2>

        <a href="/events/new-event" class="btn btn-primary">Add a new event</a>
    </div>

    <div class="profile-event-container">
        <h4>Events you organise</h4>

        {{! Organised events }}
        {{#if event.length}}
        <ul class="list-events">
            {{#each event}}
            <li>
                <a href="/events/{{id}}">
                    <img src="{{ imgPath }}" alt="Cover {{ title }}">
            
                    <div class="content">
                        <h5 class="capitalised">{{ title }}</h5>
                        <p><span class="capitalised">{{ location }}</span></p>
                        <p>{{ startDate }} at {{ startTime }}</p>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>No event yet</p>
        {{/if}}
    </div>

    <div class="profile-event-container">
        <h4>Events you are invited to</h4>
        
        {{#if event.length }}
        <ul class="list-events">
            {{#each events}}
            <li>
                <a href="/events/{{id}}">
                    <img src="{{ imgPath }}" alt="Cover {{ title }}">
            
                    <div class="content">
                        <h5 class="capitalised">{{ title }}</h5>
                        <p><span class="capitalised">{{ location }}</span></p>
                        <p>{{ startDate }} at {{ startTime }}</p>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>No event yet</p>
        {{/if}}
    </div>
</main>
