<main class="container">
    {{#with userPublic}}

    <main class="container container-profile">
        <div class="user-card">
            <img src="{{imgPath}}" alt="Picture {{fullName}}" />

            <div class="content">
                <h1>{{fullName}}</h1>

                <p>{{ bio }}</p>

                <p><em>Lives in {{ city }}</em></p>


            </div>
        </div>


        {{/with}}


        <div class="profile-event-container">



            <h4>Events they organise</h4>


            <ul class="list-events">
                {{#if event.length }}
                {{#each event}}
                <li>
                    <a href="/events/{{id}}">
                        <img src="{{ imgPath }}" alt="Cover {{ title }}">

                        <div class="content">
                            <h5>{{ title }}</h5>
                            <p>{{ location }}</p>
                        </div>
                    </a>
                </li>
                {{/each}}
                {{else}}
                <p>No events yet</p>
                {{/if}}


            </ul>
        </div>



        <div class="profile-event-container">



            <h4>Events they are invited to</h4>


            <ul class="list-events">
                {{#if event.length }}
                {{#each events}}
                <li>
                    <a href="/events/{{id}}">
                        <img src="{{ imgPath }}" alt="Cover {{ title }}">

                        <div class="content">
                            <h5>{{ title }}</h5>
                            <p>{{ location }}</p>
                        </div>
                    </a>
                </li>
                {{/each}}
                {{else}}
                <p>No events yet</p>
                {{/if}}


            </ul>
        </div>

    </main>