<main class="container container-event">
    {{#with event}}
    <div class="cover">
        <img src="{{ imgPath }}" alt="Cover {{ title }}">

        <div class="content">
            <h1 class="capitalised">{{ title }}</h1>
            <p>From {{ startDate }} at {{ startTime }} to {{ endDate }} at {{ endTime }}</p>
        </div>
    </div>

    <h6>Organised by <a href="/profile/{{ organiser._id }}" class="capitalised">{{ organiser.fullName }}</a></h6>

    {{#if ../canEdit}}
    <a href="/events/{{_id}}/edit" class="btn btn-primary">Edit event</a>
    {{/if}}

    <div class="item">
        <h4>About</h4>
        <p>{{ description }}</p>
    </div>

    <div class="item">
        <h4>Location</h4>
        <p class="capitalised">{{ location }}</p>
    </div>

    <div class="item">
        <h4>Participants</h4>

        <ul class="list-users">
            {{#each invitedPeople }}
            <li>
                <a href="/profile/{{_id}}">
                    <img src="{{ imgPath }}" alt="Picture {{ fullName }}">

                    <div class="content">
                        <h5 class="capitalised">{{ fullName }}</h5>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/with}}
</main>
