<main class="container">
  {{#with event}}
  {{#if ../canEdit}}
  <a href="/events/{{_id}}/edit">
    <h1>{{ title }}</h1>
  </a>
  {{else}}
    <h1>{{ title }}</h1>
  {{/if}}

  <p>Organised by <a href="/profile/{{ organiser._id }}">{{ organiser.fullName }}</a></p>

  <img src="{{imgPath}}" />

  <p>Date: {{ startDate }} - {{ endDate }}</p>



  <p> Time: {{ startTime }} - {{ endTime }}</p>


  <p>About: {{ description }}</p>

  <p>Location: {{ location }} </p>



  <p> Invited people: </p>
  {{#each invitedPeople }}
  <a href="/profile/{{_id}}">
    <p>{{fullName}} , {{ city }}</p>
  </a>
  {{/each}}

  {{/with}}


</main>