<main class="container">
    {{#with event}}
    <h1>{{ title }}</h1>
    <p>Organised by <a href="/profile/{{ organiser._id }}">{{ organiser.fullName }}</a></p>
    

    <p>Date: {{ startDate }} - {{ endDate }}</p>
    
    
 
    <p> Time: {{ startTime }} - {{ endTime }}</p>
   
    
    <p>About: {{ description }}</p>

    <img src="{{imgPath}}"/>

    



    {{/with}}
</main>
