<main class="container">
    <h1>All events</h1>

    <ul class="list-events">
        {{#each event}}
        <li>
            <a href="/events/{{id}}">
                <img src="{{ imgPath }}" alt="Cover {{ title }}">

                <div class="content">
                    <h5 class="capitalised">{{ title }}</h5>
                    <p><span class="capitalised">{{ location }}</span></p>
                    <p>{{ startDate }} at {{ startTime }}</p>
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</main>
